html {
    height: 100%;
}

body {
    /* (1) bodyが最低でも画面の高さを持つようにする */
    min-height: 100%;
    margin: 0;
    
    /* (2) Flexboxレイアウトを適用 */
    display: flex;
    flex-direction: column; /* 子要素を縦方向に並べる */
}

main {
    /* (3) main要素が残りの空間をすべて埋めるように伸びる */
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
}


header ul {
    list-style: none;
    
    margin: 0;
    padding: 0;
    
    display: flex;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color:#313131;
    font-weight: bold;
}

header ul li a:hover {
    color:orange;
}

.title {
    margin-top: 0px;
    margin-bottom: 10px;
}

.form-box{
    width:250px;
    height:30px;
}

.form-group {
    padding-left: 5px;;
}



.form-exp{
    font-size: 17px;
    margin-bottom: 0
    ;
}


#checkButton{
    width:90px;
    height:30px;
    width:90px;
    background: #eee;
    color: #313131;
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkButton:hover{
    background:orange;
}

#resetButton{
    width:90px;
    height:30px;
    background: #eee;
    color: #313131;
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resetButton:hover{
    background:orange;
}

#copyButton{
    width:90px;
    height:25px;
    background: #eee;
    color: #313131;
    border-radius:3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copyButton:hover{
    background:orange;
}
